/* CSS Document */
.out-table{
	width: 960px;
	border-collapse: collapse;
}

th,td{
	border: solid 1px black;
	padding: 10px;
}

tr td:nth-child(1),
tr td:nth-child(2) {
	text-align: center;
}
th.col-one{
	width: 50px;
}
th.col-two{
	width: 50px;
}
th.col-four{
	width: 150px;
}