ul,li{
	margin:0;
	padding:0;
}
ul{
	list-style-type: none;
}
li{
	/*display: inline;*/
	float: left;
}
a{
	display: block;	
	width: 200px;
	background-color: gray;
	color: white;
	text-align: center;
	padding:6px;
	text-decoration: none;
	}
a:hover{
		color: black;
		background-color: red;
	}
