/* CSS Document */
body{
	background-image:url("../img/background.jpg");
	width:auto;
	height:auto;
}

.linear{
	width:750px;
	height:220px;
	background: linear-gradient(to right, yellow, blue);
}

.radius-one{
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	border:2px solid black;
	border-radius:20px;
}

.radius-two{
	width:100px;
	height:100px;
	line-height:100px;
	tex-align:center;
	border:2px solid black;
	border-radius:10px 20px;
}

.radius-three{
	width:100px;
	height:100px;
	line-height:100px;
	tex-align:center;
	border:2px solid black;
	border-radius:10px/30px;
}

img.one{
	opacity:0.5;
	filter:alpha(opacity=50);
}

img.one:hover{
	opacity:1.0;
	filter:alpha(opacity=100);
	cursor:pointer;
}

img.two{
	-webkit-filter:blur(9px);
	filter:blur(9px);
}

img.three{
	-webkit-filter:grayscale(1);
	filter:grayscale(1);
}
