/* CSS Document */
#div1{
	width:200px;
	height:200px;
	border:2px red dashed;
}

#div2{
	width:200px;
	height:200px;
	border:2px red solid;
	position:relative;
	left:100px;
	top:50px;
}

.main{
	width:200px;
	height:200px;
	border:2px red solid;
	position:relative;
	left:0px;
	top:0px;
}

.content{
	width:200px;
	height:200px;
	border:2px red solid;
	position:relative;
	left:0px;
	top:0px;
}

.tl{
	width:200px;
	height:200px;
	border:2px green solid;
	position:relative;
	left:100px;
	top:100px;
}

.parent {
	position: absolute;
	border: 2px red solid;
	left: 100px;
	top: 100px;
	width: 200px;
	height: 200px;
}

.son {
	position: absolute;
	border: 2px red solid;
	width: 200px;
	height: 200px;
	top: 100px;
	left: 100px;
}