div {
  width: 260px;
  padding: 40px;
  margin: 20px;
  border: 2px solid black;
}

span {
  display: inline-block;
  width: 80px;
  margin-bottom: 30px;
}

button {
  display: block;
  width: 80px;
  margin: 0 auto;
}
