body {
	font-family: Comic Sans MS, "黑体";
	font-size: 32px;
}

.one {
	text-shadow: 0 0 20px red;
}

.two {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
}

.three {
	text-shadow: 0 1px 1px #fff;
}

.four {
	text-shadow: -1px -1px 0 #fff, 1px 1px 0 #333, 1px 1px 0 #444;
}

.five {
	text-shadow: 0 0 5px #f96;
}

.six {
	text-shadow: 0 0 6px #F96, -1px -1px #FFF, 1px -1px #444;
}

.seven {
	text-shadow: 1px 1px 0 #E4F1FF;
}

.eight {
	text-shadow: 3px 3px 0 red, -3px 3px 0 red, 3px -3px 0 red, -3px -3px 0 red;
}

.nine {
	text-shadow: 1px 1px rgba(197, 223, 248, 0.8), 2px 2px rgba(197, 223, 248, 0.8), 3px 3px rgba(197, 223, 248, 0.8), 4px 4px rgba(197, 223, 248, 0.8), 5px 5px rgba(197, 223, 248, 0.8);
}

.ten {
	text-shadow: -1px -1px rgba(197, 223, 248, 0.8), -2px -2px rgba(197, 223, 248, 0.8), -3px -3px rgba(197, 223, 248, 0.8), -4px -4px rgba(197, 223, 248, 0.8), -5px -5px rgba(197, 223, 248, 0.8);
}

.eleven {
	text-shadow: 5px 5px 0 #666, 7px 7px 0 #eee;
	/*注意：第一个阴影色和背景色相同；文本前景色和第二个阴影色相同*/
}

.twelve {
	text-shadow: 3px 3px 0 rgba(180, 255, 0, 0.5);
}