/* CSS Document */
.out{
	background-color: red;
	width:500px;
	border:1px solid #000;
}
.left{
	width:200px;
	height: 200px;
	float:left;
	background-color: green;
}
.right{
	width: 200px;
	height:200px;
	float:left;
	background-color: blue;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{
	*zoom: 1;
}
.clear{
	clear:both;
}


