body {
	font-family: Comic Sans MS, "黑体";
	font-size: 16px;
}

.word {
	word-spacing: 50px;
	color: red;
}

.letter {
	letter-spacing: 30px;
	color: blue;
}

.underline {
	text-decoration: underline;
}

.indent {
	text-indent: 2em;
}

.none {
	text-decoration: none;
}

.line-through {
	text-decoration: line-through;
}

.overline {
	text-decoration: overline;
}