#container{
	background-color:#FFC;
	width:960px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
#nav{
	background-color:red;
	width:500px;
	height:50px;
	text-align: center;
}
#menu{
	background-color:blue;
	width:500px;
	height:50px;
	line-height: 50px;/**和height高度保持一致/
}
